@import 'normalize';
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(71, 90, 133);
}
.fade-in_done{
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}
.fade-in{
    transform: translateY(50px);
    opacity: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 470px;
    background-color: rgb(22, 24, 40);
    background-image: url("../img/bg_img_slider.png");
    background-repeat: no-repeat;
    background-position: 30% 110px;
    background-size: 60% 100%;
    padding: 80px 10% 0 10%;
    width: 80%;
}
@keyframes up-down {
    0%{transform: translateY(0);}
    50%{transform: translateY(5px);}
    100%{transform: translateY(0);}
}
.nav{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    padding: 0 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(13, 11, 17);
    transition: 0.4s;
    .logo-link{
        text-decoration: none;
        font-size: 24px;
        color: rgb(255,255,255);
        transition: 0.2s;
        &:hover, &:focus{
            color: rgb(220,220,220);
        }
    }
}
.nav_sticky{
    transition: 0.4s;
    height: 50px;
}
.toggle-menu{
    display: none;
    //position: relative;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    .toggle__span-container{
        display: block;
        position: relative;
        height: 25px;
        width: 30px;
    }
    .toggle__span{
        position: absolute;
        display: block;
        background-color: white;
        width: 100%;
        height: 5px;
        transition: 0.5s;
        &:nth-of-type(1){
            top: 0;
        }
        &:nth-of-type(2){
            top: 10px
        }
        &:nth-of-type(3){
            bottom: 0;
        }
    }
    &:hover .toggle__span, &:focus .toggle__span{
        background-color: rgb(220,220,220);
    }
}
.toggle-menu_expanded{
    .toggle__span{
        transition: 0.5s;
        &:nth-of-type(1){
            top: 10px;
            transform: rotate(45deg);
        }
        &:nth-of-type(2){
            transform: rotate(-45deg);
        }
        &:nth-of-type(3){
            height: 0;
            opacity: 0;
        }
    }
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    .nav__link{
        color: rgb(255,255,255);
        text-decoration: none;
        transition: 0.2s;
        &:hover, &:focus{
            color: rgb(220,220,220);
        }
    }
}
.span_bold{
    font-weight: 700;
}
.header__content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 55%;
    min-height: 100px;
    .header__heading{
        font-size: 36px;
        padding: 0;
        margin: 0;
    }
    .header__sub-heading{
        font-size: 24px;
        padding: 0;
        margin: 24px 0 60px 0;
    }
    .button_red{
        font-size: 18px;
        width: 145px;
        height: 54px;
    }
}
.header__image-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(5%);
    .header__img{
        width: 100%;
        height: auto;
    }
}
.button_red{
    text-align: center;
    cursor: pointer;
    color: rgb(255,255,255);
    background-color: rgb(241, 72, 89);
    border-radius: 4px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-family: 'Open Sans', sans-serif;
    &:hover, &:focus{
        color: rgb(240,240,240);
        background-color: rgb(221, 52, 69);
    }
}
.article{
    padding: 70px 10% 80px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article__header, .section__header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    color: white;
    text-align: center;
}
.article__heading, .section__heading{
    font-size: 30px;
    margin: 0 0 5px 0;
    padding: 0 5px;
}
.article__sub-heading, .section__sub-heading{
    font-size: 18px;
    margin: 0 0 12px 0;
    padding: 0 5px;
}
.section-services{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 14px;
    .image-container{
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section__heading{
        padding: 0 5px;
        margin: 21px 0 14px 0;
        font-size: 18px;
    }
    .paragraph{
        margin: 0 0 31px 0;
    }
    .button_red{
        width: 88px;
        height: 33px;
        font-size: 11px;
    }
}
.article-work, .article-contact{
    padding: 0;
    background-color: white;
    .article__header{
        background-color: rgb(123, 123, 123);
        background-image: url("../img/pattern-parallax.png");
        background-size: cover;
        padding: 0;
        margin: 0;
        height: 425px;
        .article__heading{
            padding: 0 5px;
            font-size: 48px;
        }
        .article__sub-heading{
            padding: 0 5px;
            font-size: 24px;
        }
    }
}
.section-portfolio{
    width: 100%;
    padding: 70px 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .section__header{
        color: rgb(50, 50, 50);
        margin-bottom: 74px;
    }
    .portfolio__category{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 132px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 47px;
        color: rgb(50, 50, 50);
        .button-change-category{
            font-family: 'Open Sans', sans-serif;
            color: rgb(167, 167, 167);
            background-color: rgba(255,255,255,0);
            border: 0;
            padding: 0;
            font-size: 18px;
            transition: 0.2s;
            cursor: pointer;
            &:hover, &:focus, &:active, &[aria-pressed="true"]{
                color: rgb(50, 50, 50);
            }
        }
    }
    .projects-container{
        width: calc(100% + 60px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .portfolio-item{
        background-color: rgb(123, 123, 123);
        border: 1px solid rgb(130, 130, 130);
        margin: 0 15px 38px 15px;
        width: 369px;
        height: 291px;
        position: relative;
        .figcaption{
            text-align: center;
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100% - 90px);
            background-color: rgb(82, 91, 129);
            opacity: 0;
            transition: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 45px;
            z-index: 10;
        }
        .bg-image{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 9;
            background-image: url("../img/portfolio/desk-min.jpg");
            background-position: center center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            transition: 0.7s;
        }
        .bg-image_2, .bg-image_3{
            background-image: url("../img/portfolio/website-min.png");
        }
        .bg-image_4, .bg-image_5{
            background-image: url("../img/portfolio/cyber-security-min.jpg");
        }
        &:hover .figcaption, &:focus .figcaption{
            opacity: 1;
        }
        &:hover .bg-image, &:focus .bg-image{
            background-size: auto 120%;
        }
        .portfolio-item__heading{
            font-size: 24px;
            padding: 0;
            margin: 0;
        }
        .paragraph{
            font-size: 14px;
            margin: 22px 0 27px 0;
            padding: 0;
        }
        .link_eye{
            cursor: pointer;
            transition: 0.3s;
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
    }
    .browse-all{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(50,50,50);
        .paragraph{
            font-weight: bold;
            font-size: 18px;
            margin: 0 0 5px 0;
        }
        .browse-all__button{
            background-color: rgba(255,255,255,0);
            border: 0;
            padding: 0;
            margin-top: 9px;
            cursor: pointer;
            transition: 0.2s;
            &:hover, &:focus{
                transform: translateY(3px);
                opacity: 0.8;
            }
        }
    }
}
@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.article-testimonials{
    padding-bottom: 99px;
    background-color: white;
    .article__header{
        color: rgb(50, 50, 50);
        margin-bottom: 47px;
    }
    .cite-block{
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: rgb(50, 50, 50);
        transition: 0.3s;
    }
    .cite-block_fade-out{
        opacity: 0;
    }
    .cite-block_active{
        animation: fade-in;
        animation-duration: 0.3s;
        display: flex;
    }
    .person-cloud{
        background-color: rgb(123, 123, 123);
        border: 8px solid rgb(235, 235, 235);
        border-radius: 50%;
        height: 263px;
        width: 263px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .person-image{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .blockquote{
        width: calc(90% - 275px);
        min-height: 263px;
        padding: 0 0 0 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        .paragraph{
            font-size: 18px;
            width: 100%;
            padding: 0;
            margin-bottom: 0 0 28px 0;
        }
        .blockquote__footer{
            width: 100%;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .buttons-container{
        width: 100%;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .button-cite{
            cursor: pointer;
            font-size: 0;
            color: rgba(0,0,0,0);
            margin: 0 12px;
            height: 23px;
            width: 23px;
            border-radius: 50%;
            background-color: rgb(123, 123, 123);
            border: 0;
            transition: 0.3s;
            &:hover, &:focus, &[aria-pressed="true"]{
                background-color: rgb(50, 50, 50);
            }
        }
    }
}
.article-contact{
    background-color: rgb(71, 90, 133);
    .contact-map-container{
        width: 100%;
        height: 500px;
        .contact-map{
            width: 100%;
            height: 100%;
        }
    }
}
.section-contact-info{
    width: 100%;
    padding: 70px 10% 80px 10%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    .contact-content{
        width: calc(50% - 20px);
        margin-right: 20px;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        .paragraph{
            margin: 14px 0;
        }
        .paragraph_data{
            margin: 10px 0;
        }
        .data-place{
            &:before{
                content: url(../img/location.png);
                margin-right: 12px;
            }
        }
        .data-phone{
            &:before{
                content: url(../img/phone.png);
                margin-right: 12px;
            }
        }
        .data-email{
            &:before{
                content: url(../img/mail.png);
                margin-right: 12px;
            }
        }
        .link_phone{
            color: white;
            text-decoration: none;
            transition: 0.2s;
            &:hover, &:focus{
                opacity: 0.8;
            }
        }
        .social-media-list{
            list-style: none;
            width: 143px;
            padding: 0;
            margin-top: 41px;
            display: flex;
            justify-content: space-between;
        }
        .icon-social-media{
            &:before{
                margin: 0;
            }
        }
        .social-media-link{
            text-decoration: none;
            color: rgb(192, 192, 192);
            font-size: 35px;
            transition: 0.2s;
            &:hover, &:focus{
                color: white;
            }
        }
    }
    .form-container{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .input, .textarea{
            box-sizing: border-box;
            padding: 20px;
            width: calc(50% - 10px);
            border: 0;
            margin: 0;
            border-radius: 4px;
            background-color: rgb(238, 238, 238);
            color: rgb(116, 116, 116);
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            transition: 0.3s;
            &:focus{
                background-color: white;
            }
        }
        .input{
            &:first-of-type{
                margin-right: 20px;
            }
        }
        .textarea{
            width: 100%;
            height: 163px;
            margin-top: 20px;
        }
        .button_red{
            width: 156px;
            height: 57px;
            font-size: 18px;
            margin-top: 20px;
        }
    }
}
.footer{
    width: calc(100% - 20px);
    position: relative;
    padding: 0 10px;
    min-height: 176px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 24, 40);
    .link-up{
        position: absolute;
        bottom: 215px;
        right: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(194, 194, 194);
        width: 57px;
        height: 57px;
        border-radius: 4px;
        transition: 0.3s;
        .link-image{
            transition: 0.3s;
        }
        &:hover, &:focus{
            background-color: rgb(220, 220, 220);
        }
        &:hover .link-image, &:focus .link-image{
            animation: up-down;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
        }
    }
    .paragraph{
        padding: 0;
        margin: 0;
        font-size: 24px;
        color: rgb(119, 118, 127);
    }
    .paragraph_copyright{
        font-size: 14px;
        margin-bottom: 15px;
    }
}
@import 'responsive';
